html {
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
 
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    width: 100%;

}

/* ---------- Header and Main Photo ---------- */


header {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 7%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(rgb(37, 43, 41), black, black);
    font-size: 1.25rem;
 }

 #header-name {
    padding-left: 1%;
    text-align: left;
  }

nav {
    text-align: right;
    flex-grow: 1;
    }

nav span {
    display: inline-block;
    padding: 1% 4% 1.5% 4%;
    border-radius: 5%;
}

nav span:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgb(70, 66, 66), rgba(0, 0, 0, 0.027));
    opacity: 90%;
}

main {
    position: relative;
    justify-content: center;
    display: block;
    width: 100vw;
    height: 100vh;
    padding-top: 3%;
    background-image: url(./resources/images/austin-main-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .text-container {
    display: block;
    margin: 25vh 50vw 500px 10vw;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 5.33rem;
   }
main h1 {
    background-color: black;
    background-attachment: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 0.95;
    border-radius: 2%;
    }

main a {
    position: absolute;
    font-size: 2rem;
    margin-top: 85vh;
    margin-left: 50vw;
    padding: 15px 20px;
    color: black;
    background-color: white;
    border-radius: 5%;
    text-decoration: none;
    display: inline-block;
    z-index: 3;
    opacity: 60%;
}    
main a:hover {
    opacity: 100%;
}

@media only screen and (max-width: 600px) { 

    main {
        height: 100vh;
        background-position: 90% 10%;
    }
    main .text-container {
        margin: 30vh 10vw 0 15vw;
        font-size: 1.75rem; 
        background-color: rgba(0, 0, 0, 0.315);
    }
    main h1 span {
        display: block;
    }
    main a {
        padding-top: 1%;
        margin-top: 88vh;
    }
  }

/* ------- Work examples ---------- */


#work-examples h2 {
    font-size: 3rem;
    padding-top: 12%;
    margin-bottom: 0;
    text-align: center;
}

.main-content-container {
    display: flex;
    width: 85%;
    height: 80vh;
    margin: 10vh auto;
    margin-top: 1%;
    padding: 10vh 10vw;
    
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;

}
.site-container {
    width: 400px;
    height: 400px;
    flex: 0 1 400px;
    margin: 50px 10px;
    border-radius: 3%;
    overflow: visible;
}
.site-container h3 {
    color: white;
    line-height: 1.5;
    padding-top: 2rem;
}
.site-container:hover {
    border: 5px outset rgb(70, 66, 66);
    position: relative;
    box-sizing: border-box;
    bottom: 5px;
    right: 5px;
    box-shadow: 7px 7px cadetblue;

}
.site-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3%;
  
}
.site-container .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border-radius: 3%;
    object-fit: cover;
}
.site-container:hover .img-top {
    display: inline;
}

@media only screen and (max-width: 600px) {
    
    
    .site-container {
        width: 200px;
        height: 200px;
        margin: 20%;
        flex: 0 1 200px;
    }
  
}
