@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Oswald',Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}
p {
    font-size: 36px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 48px;
    font-weight: 900;
}
header {
    background-color: rgb(179, 17, 117);
    color:turquoise;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    padding-bottom: 1px;
    margin: 0; auto;
    height: 20%;

}
@media only screen and (min-width: 1200px) {
    .image-container {
        height: 1100px;
    } 
}

.image-container {
    overflow: hidden;
    height: 30%;
    width: 100%;
}

#banner-image {
    width: 100%;
    overflow: hidden;
    margin: 0;


}
main {
    padding: 100px 0px;
    background-color: black;
    color: white;
    text-align: center;
    position: static;
    margin: 10px;
    height: 80vh;
} 


#question-container {
    display: block;
    padding: 50px;
    margin: 50px;
}
#like-party {
    margin-bottom: 50px;
}
#like2party {
    margin-bottom: 5px;
}
select {
    width: 100px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
}
#begin-party-button {
    border: 0;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color:rgb(179, 17, 117);
    color: white;
    font-family: 'Oswald';
    font-size: 24px;
    
}
#begin-party-button:hover {
    opacity: 75%;
    cursor: pointer;

}

